*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #002339;
    color: #FFFF;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;

}
.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    color: #333;
    padding: 26px 20px;
    align-items: center;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #019f55;
    border-bottom:4px solid #019f55;
    padding-bottom: 7px;
}
.container img {
    width: 100%;
    max-width: 30px;
    cursor: pointer;
}
.container input{
    border: 0;
    outline: 0;
    font-size: 24px;

}

.container button{
    outline: 0;
    border: 0;
    background-color: #019f55;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    
}


.container button img{
    width: 100%;
    max-width: 28px;
    margin-right: 10px;
}
